<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Staffing Directory</title>
  <link rel="stylesheet" href="main.css"/>
</head>

<body>
  <h1>Index of RoboNerds</h1>

  <div class = "indexwrapper">
      {{ #staff }}
    <div class = "profile">
        <div class = "photo"><img src="{{ avatar }}"></div>
        <h2>{{ name }}</h2>
        <p>{{ #job }} {{ job }}, {{ /job }}
          {{ ^job }}<p class = "available">Available for hire</p>{{ /job }}
          {{ company }}</p>
    </div>
      {{ /staff }}

  </div>

</body>

</html>
